@import url('https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon&family=Lato:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');

:root {
    --primary-color: #011936   ;
  --secondary-color: #465362 ;
  --accent1-color: #82A3A1;
  --accent2-color: #9fc490;

  --heading-font: "Poppins, IM Fell French Canon";
  --paragraph-font: "Poppins, Lato, Helvetica, sans-serif";

 
  --headline-color-on-white: #011936;  
  --headline-color-on-color: #9fc490; 
  --paragraph-color-on-white: #011936; 
  --paragraph-color-on-color: #9fc490; 
  --paragraph-background-color: #011936  ;
  --nav-link-color: #011936;
  --nav-background-color: #D4AC0D;
  --nav-hover-link-color: #9fc490;
  --nav-hover-background-color: #011936;
}
body {
  font-size: 100%;
}
header {
    height: auto;
    width: fit-content;
    background-color: var(--nav-background-color);
    color: var(--nav-link-color);
    font-size: 1.5em;
    margin:0%;
    align-items: center;
    text-align: center;
}
nav {
  display: block;
  margin: 0 auto;
  padding: 1%;
  align-items: center;
}
a {
  text-align: center;
  padding-left: 5%;
  padding-right: 5%;
  align-items: center;
}
.home-grid {
  margin: 0 auto;
  width: 100%;
}
img.card-img {
  margin: 0 auto;
}
#logo_link {
  width: 12%;
  height: auto;
  margin: 0 auto;
}
.logo {
  max-width: 20%;
}